@charset "utf-8";
/* CSS Document */
@import url("menu.css");
/*basic settings*/

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);

body{
	font-family:'cwTeXMing',Times Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin:0;
	padding:0;
	background:#063741;/* Old browsers */
background: -moz-linear-gradient(top, #063741 0%, #021b20 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #063741 0%, #021b20 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, top, #063741 0%, #021b20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063741', endColorstr='#021b20',GradientType=0 ); /* IE6-9 */
}

/*header*/

header{
	top:0;
	width:100%;
	min-width:980px;
	box-sizing:border-box;
	background: rgba(0, 0, 0, 0);
	z-index:1000;
}



.h1{color:#F3CD2E;font-size:20pt;}
.h2{color:#F3CD2E;font-size:12pt;}



nav{
	width:100%;
	margin:auto;
	text-align:center;
	position: -webkit-sticky;
	position: sticky;
	top:0; /* bottom,left,right-0 */
	z-index: 2000;
	color: #f4ce2d;
	background: rgba(0, 0, 0, 0.5);
}


a{color:#fff;
text-decoration: none;}

a:hover{
	color:#F3CD2E;
}




.totop{
	width:44px;
	height:44px;
	background:#F30 url(../images/top2x.png) no-repeat;
	background-posotion:0px 0px;
	background-size: 200%;
}


.totop:hover{
	background: #000 url(../images/top2x.png) no-repeat;
	background-position: -44px 0px;
	background-size: 200%;
}



section{
	width: 80%;
	margin: auto;
	-webkit-column-count: 3;	/*chrome,safari,opera*/
	-moz-column-count: 3;      /*firefox*/
	column-count: 3;
	-webkit-column-gap:20px;
	-moz-column-gap:20px;
	column-gap:20px;
}


.box{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	background: #000;
	margin:12pt 0px 0pt;
	overflow: hidden;
	z-index: 10;	
	box-shadow: 2px 2px 8px #000;       /*IE9以上*/
	border-radius: 2%;
}



.imgbox{
	width:100%;
	overflow: hidden;
}


.box img{
	width:100%;
}

.box:hover{
	cursor:pointer;
	border-radius: 2%;
}


.box .imgbox img{         /*初始設定*/
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	
	transition: transform 1.5s;
	-webkit-transition: transform 1.5s;
	
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	
	
}




.box:hover .imgbox img{       /*滑鼠滑過放大比例1.2倍*/
	-ms-transform: scale(1.2,1.2);      /*IE9*/
	-webkit-transform: scale(1.2,1.2);   /*safari*/
	transform: scale(1.2,1.2);          /*standard*/
	
}







.box h3{
	box-sizing: border-box;
	padding: 0px 20px;
	color:#EC8586;
	font-size:14pt;
	font-weight: normal;
	font-style: italic;
}

.box p{
	box-sizing: border-box;
	padding: 0px 20px;
	color: #ccc;
}

.head{
	display: inline-block;
	padding: 0px 20px 20px;
}


.head img{
	float: left;
	width:40px;
	height:40px;
	border-radius: 50%;
}


.head span{
	float:left;
	font-size: 13px;
	color: #999;
	inline-height: 40px;
	margin-left: 10px;
}



/*圖片輪播動畫*/



.coverflow{
	width: 100%;
position: relative;
	background:none;
}
.coverflow>a{
display: block;
position: absolute;
top:0;
left:0;
opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    -webkit-animation: silder 55s linear infinite;
    animation: silder 55s linear infinite;
}
.coverflow>a>img{
max-width: 100%;
}

/*動畫關鍵影格*/
@-webkit-keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

/*每個圖片各延遲5秒*/

.coverflow>a:nth-child(11) {
-webkit-animation-delay: 50s;
        animation-delay: 50s;   
}

.coverflow>a:nth-child(10) {
-webkit-animation-delay: 45s;
        animation-delay: 45s;   
}


.coverflow>a:nth-child(9) {
-webkit-animation-delay: 40s;
        animation-delay: 40s;   
}


.coverflow>a:nth-child(8) {
-webkit-animation-delay: 35s;
        animation-delay: 35s;   
}


.coverflow>a:nth-child(7) {
-webkit-animation-delay: 30s;
        animation-delay: 30s;   
}



.coverflow>a:nth-child(6) {
-webkit-animation-delay: 25s;
        animation-delay: 25s;   
}



.coverflow>a:nth-child(5) {
-webkit-animation-delay: 20s;
        animation-delay: 20s;   
}


.coverflow>a:nth-child(4) {
-webkit-animation-delay: 15s;
        animation-delay: 15s;   
}


.coverflow>a:nth-child(3) {
-webkit-animation-delay: 10s;
        animation-delay: 10s;            
}

.coverflow>a:nth-child(2) {
-webkit-animation-delay: 5s;
        animation-delay: 5s;
}

.coverflow>a:nth-child(1) {
-webkit-animation-delay: 0s;
        animation-delay: 0s;    
}
/*滑入時停止播放*/
.coverflow:hover>a{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}




html{background:#000;}


footer{
	clear:both;
	padding:50px;
	text-align:center;	
	color: #fff;
	background: #000;
	line-height: 29px;
}

