@charset "UTF-8";
/* CSS Document */
html,body{width:100%;height:100%;}


.vidbg-container {
  z-index: 50 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (orientation: portrait) {
  .bg-welcome-video {
    background-image: url(../images/bg-index-portrait.jpg);
  }
}

@media screen and (orientation: landscape) {
  .bg-welcome-video {
    background-image: url(../images/bg-index-landscape.jpg);
  }


/*for mobile*/
@media only screen and (max-width 480px) {
	body{background: #FF0;}
}


/*for mobile*/
@media only screen and (max-width 480px) {
	body{background: #FF0;}
}